/* section one */
#carousel-part{
    padding: 7% 15%;
    text-align: center;
    font-family:fantasy;
    color: #fff;
}
.farmer{
    height: 18rem;
    width: 20rem;
}
#part1{
    background-color:rgb(233, 190, 190);
}
/* section two */
#part2,#part4,#part6{
    background-color:rgb(248, 227, 227);
}
.middel{
    padding: 5% 0 5% 0;
    margin: 0 15% 0 15%;
    line-height: 2;
}
.two{
    margin: 20% 0 20% 0 ;
}

.Loan{
    float: left;
    margin-right: 5%;
    border-radius: 50%;
    border: 2px solid chocolate;
}
.food{
    float: right;
    margin-right: 5%;
    border-radius: 50%;
    border: 2px solid chocolate;
}
.work{
    float: left;
    margin-right: 5%;
    border-radius: 50%;
    border: 2px solid chocolate;
}
h2{
    text-align: center;
}
/* section part 3 */
#part3,#part5{
    background-color:rgb(233, 190, 190);
}
.middel2{
    overflow: auto;
    padding: 0% 3%;
}
.Role{
    float: right;
    padding: 0% 0% 2% 2%;
   
}
.paragraph{
    text-align: justify;
}
/* buy us section */
.buy{
    padding-left: 10%;
}
.gapbuton{
    padding: 2%;
}
.gapicon{
   margin-right: 10px; 
}
/* card section */
#part5{
    padding-bottom: 5%;
}
.heding{
    text-align: center;
}
.v{
    text-align: center;
    padding-top: 5%;
}
/* foter section */
.fa {  
    padding: 20px;  
  text-align: center;  
    margin: 5px 2px;  
    font-size: 30px;  
    width: 50px;
    border-radius: 20%;  
  }  
  .fa-facebook {  
    background: #3B5998;  
    color: white;  
  }  
  .fa-twitter {  
    background: #55ACEE;  
    color: white;  
  }
  .fa-linkedin {  
    background: #007bb5;  
    color: white;  
  }  
  .fa-instagram {  
    background: #125688;  
    color: white;  
  }  
  .fa-youtube {  
    background: #bb0000;  
    color: white;
  }
  .adress{
      font-size: small;
  }
  .foter{
      text-align: center;
  }
